@page
@model MB.Presentation.MVCCore.Areas.Administrator.Pages.ArticleCategory.ListModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article Category List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="/ArticleCategory/Create" asp-area="Administrator">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>CreationDate</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var articleCategory in Model.articleCategories)
                {
                        <tr>
                            <td>@articleCategory.Id</td>
                            <td>@articleCategory.Title</td>
                            <td>
                            @if (articleCategory.IsDeleted)
                            {
                                        <i class="bi bi-x-circle text-danger"></i>
                            }
                            else
                            {
                                        <i class="bi bi-check-lg text-success"></i>
                            }
                            </td>
                            <td>@articleCategory.CreationDate</td>
                            <td class="d-flex">
                                <a class="btn btn-warning float-left mr-3" asp-page="./Edit" asp-route-id="@articleCategory.Id">Rename</a>
                            @if (articleCategory.IsDeleted)
                            {
                                        <form method="post" asp-page-handler="Activate" class="float-left">
                                            <button class="btn btn-success">Activate</button>
                                            <input type="hidden" name="id" value="@articleCategory.Id" />
                                        </form>
                            }
                            else
                            {
                                        <form method="post" asp-page-handler="Remove" class="float-left mx-2">
                                            <button class="btn btn-danger">Remove</button>
                                            <input type="hidden" name="id" value="@articleCategory.Id" />
                                        </form>
                            }
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
